{% extends 'base.html' %}

{% block title %}Детали бронирования{% endblock %}

{% block content %}
<h2>Детали бронирования</h2>
<p>Комната: {{ booking.room.room_number }}</p>
<p>Отель: {{ booking.hotel.name }}</p>
<p>Даты: {{ booking.check_in_date }} - {{ booking.check_out_date }}</p>
<a href="{% url 'bookings:booking_update' booking.pk %}">Редактировать</a>
<form method="post" action="{% url 'bookings:booking_delete' booking.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
{% endblock %}
